<a href="https://colab.research.google.com/github/MananPoojara/pyspark-for-DE/blob/main/PySparkBaiscs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

# Let's Download the Dataset

In [6]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.27
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [2]:
!curl https://raw.githubusercontent.com/markumreed/colab_pyspark/main/WMT.csv >> WMT.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 89556  100 89556    0     0   351k      0 --:--:-- --:--:-- --:--:--  352k

If Someone Know Pandas you will fimiler with some of the function and Dataframes so same we are doing here but spark has it's seesions so

In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("app1").getOrCreate() #help for creating session
df = spark.read.csv("WMT.csv", header=True, inferSchema=True) #spark.read.csv for reading csv and we store in Dataframe
df.show() # same as pandas

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2016-01-20|61.799999|62.330002|60.200001|    60.84|53.990601|17369100|
|2016-01-21|    60.98|62.790001|    60.91|61.880001|54.913509|12089200|
|2016-01-22|62.439999|63.259998|62.130001|62.689999|55.632324| 9197500|
|2016-01-25|62.779999|    63.82|62.549999|63.450001|56.306763|12823400|
|2016-01-26|63.360001|64.470001|63.259998|     64.0|56.794834| 9441200|
|2016-01-27|64.099998|    65.18|63.889999|63.950001|56.750477|10214300|
|2016-01-28|64.029999|64.510002|    63.43|64.220001| 56.99007|11278300|
|2016-01-29|    64.75|66.529999|64.739998|66.360001|58.889149|16439100|
|2016-02-01|65.910004|    67.93|65.889999|     67.5| 59.90081|14728400|
|2016-02-02|67.300003|67.839996|66.279999|66.860001|59.332867|13585900|
|2016-02-03|67.309998|     67.5|    65.07|66.269997| 58.80928|12315600|
|2016-02-04|65.760002|66.550003|65.010002|66.419998| 58.94239|12833400|
|2016-02-05|66.860001|67.529999|65.879997|     67.0|  59.4571|14196500|
|2016-02-08|     66.5|67.150002|65.160004|66.900002|59.368362|20743600|
|2016-02-09|65.489998|66.410004|    64.68|65.809998|58.401058|14642400|
|2016-02-10|66.190002|66.589996|65.650002|65.790001| 58.38332| 9709300|
|2016-02-11|65.019997|65.760002|64.779999|    65.32|57.966228|11186700|
|2016-02-12|65.519997|    66.25|64.870003|    66.18|58.729424| 9695500|
|2016-02-16|66.610001|66.800003|     65.5|65.900002|58.480934|11360500|
|2016-02-17|66.099998|66.610001|65.809998|66.110001|58.667301|12426700|
+----------+---------+---------+---------+---------+---------+--------+
only showing top 20 rows

In [10]:
df.printSchema() #datatypes of dataframe/files

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [11]:
df.head(5)

[Row(Date=datetime.date(2016, 1, 20), Open=61.799999, High=62.330002, Low=60.200001, Close=60.84, Adj Close=53.990601, Volume=17369100),
 Row(Date=datetime.date(2016, 1, 21), Open=60.98, High=62.790001, Low=60.91, Close=61.880001, Adj Close=54.913509, Volume=12089200),
 Row(Date=datetime.date(2016, 1, 22), Open=62.439999, High=63.259998, Low=62.130001, Close=62.689999, Adj Close=55.632324, Volume=9197500),
 Row(Date=datetime.date(2016, 1, 25), Open=62.779999, High=63.82, Low=62.549999, Close=63.450001, Adj Close=56.306763, Volume=12823400),
 Row(Date=datetime.date(2016, 1, 26), Open=63.360001, High=64.470001, Low=63.259998, Close=64.0, Adj Close=56.794834, Volume=9441200)]

#Fileter Data

In [15]:
df.filter("close < 62").show()

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2016-01-20|61.799999|62.330002|60.200001|    60.84|53.990601|17369100|
|2016-01-21|    60.98|62.790001|    60.91|61.880001|54.913509|12089200|
+----------+---------+---------+---------+---------+---------+--------+

In [17]:
df.filter("close < 62").select("open").show()

+---------+
|     open|
+---------+
|61.799999|
|    60.98|
+---------+

In [18]:
df.filter("close < 62").select(["open", "Date"]).show()

+---------+----------+
|     open|      Date|
+---------+----------+
|61.799999|2016-01-20|
|    60.98|2016-01-21|
+---------+----------+

In [19]:
type(df)

pyspark.sql.dataframe.DataFrame

In [22]:
df.filter(df["close"] < 62).show() #another way like pandas

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2016-01-20|61.799999|62.330002|60.200001|    60.84|53.990601|17369100|
|2016-01-21|    60.98|62.790001|    60.91|61.880001|54.913509|12089200|
+----------+---------+---------+---------+---------+---------+--------+

In [36]:
df.filter((df["close"] < 62) & (df["open"] > 60)).show()
df.filter((df["close"] < 62) | (df["open"] > 60)).show(4)

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2016-01-20|61.799999|62.330002|60.200001|    60.84|53.990601|17369100|
|2016-01-21|    60.98|62.790001|    60.91|61.880001|54.913509|12089200|
+----------+---------+---------+---------+---------+---------+--------+

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2016-01-20|61.799999|62.330002|60.200001|    60.84|53.990601|17369100|
|2016-01-21|    60.98|62.790001|    60.91|61.880001|54.913509|12089200|
|2016-01-22|62.439999|63.259998|62.130001|62.689999|55.632324| 9197500|
|2016-01-25|62.779999|    63.82|62.549999|63.450001|56.306763|12823400|
+----------+---------+---------+---------+---------+---------+--------+
only showing top 4 rows

In [35]:
df.filter(df["close"] == 66.860001).show()

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2016-02-02|67.300003|67.839996|66.279999|66.860001|59.332867|13585900|
+----------+---------+---------+---------+---------+---------+--------+

In [42]:
result = df.filter(df["close"] == 66.860001).collect() #collect can make or store data as python object
result

[Row(Date=datetime.date(2016, 2, 2), Open=67.300003, High=67.839996, Low=66.279999, Close=66.860001, Adj Close=59.332867, Volume=13585900)]

In [43]:
type(result)
type(result[0])

pyspark.sql.types.Row

In [47]:
result[0].asDict()

{'Date': datetime.date(2016, 2, 2),
 'Open': 67.300003,
 'High': 67.839996,
 'Low': 66.279999,
 'Close': 66.860001,
 'Adj Close': 59.332867,
 'Volume': 13585900}

In [48]:
for item in result[0]:
  print(item)

2016-02-02
67.300003
67.839996
66.279999
66.860001
59.332867
13585900